<!DOCTYPE html>

</html>

<head>
    <title>CRUD Node.js-MySQL</title>

    <!-- <link href="/../css/bootstrap.css" rel="stylesheet">
    <link href="/../css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/../css/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript" src="/../js/bootstrap.js"></script>
    <script type="text/javascript" src="/../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/../js/common.js"></script>

</head>

<body>
    <%if(errors && errors.length > 0 ){ %>
        <div class="alert-message error message">
            <strong>
                <%= errors %>
            </strong>
        </div>

        <% }else if(success.length > 0 && success ) { %>
            <div class="alert-message success  message">
                <strong>
                    <%= success %>
                </strong>
            </div>
            <% } %>


                <div id="wrapper">
                    <% if(user) { %>
                        <div class="col-md-3 col-lg-3 " align="center">
                            <img alt="User Pic" src="/../images/profiles/<%=user.profile_img_title%>" class="img-circle img-responsive profile-picture"> 
                        </div>
                        <% } %>

                            <% if(user) { %>
                                <a href="/logout" class="btn btn-light btn-lg login-sign-up-in">Logout</a>
                                <% } else { %>
                                    <a href="/" class="btn btn-light btn-lg login-sign-up-in">Login</a>
                                    <a href="/signup" class="btn btn-light btn-lg sign-up">Sign up</a>
                                    <% } %>
                                        <div class="page-header">
                                            <h2>
                                                <%=page_title%>
                                            </h2>
                                        </div>

                                        <div class="page-container">