<!DOCTYPE html>

</html>

<head>
    <title>CRUD Node.js-MySQL</title>

    <!-- <link href="/../css/bootstrap.css" rel="stylesheet">
    <link href="/../css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/../css/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script type="text/javascript" src="/../js/bootstrap.js"></script>
    <script type="text/javascript" src="/../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/../js/common.js"></script>

</head>

<body>


    <div id="wrapper">
        <%if(errors && errors.length > 0 ){ %>
            <div class="error alert-message message">
                <strong>
                    <%= errors %>
                </strong>
            </div>

            <% }else if(success.length > 0 && success ) { %>
                <div class="success alert-message message">
                    <strong>
                        <%= success %>
                    </strong>
                </div>
                <% } %>

                    <% if(user) { %>
                        <a type="button" href="/logout" class="btn btn-light btn-lg" style="float: right; color: wheat;  padding-top: 12px; height: 63px; width: 109px;font-size: 30px;">logout</a>
                        <% } else { %>
                            <a type="button" href="/" class="btn btn-light btn-lg" style="float: right; color: wheat; padding-top: 12px; height: 63px;width: 109px;font-size: 30px;">Login</a>
                            <a type="button" href="/signup" class="btn btn-light btn-lg" style="float: right; color: wheat; padding-top: 12px; height: 63px;width: 109px;font-size: 30px;">Sign up</a>
                            <% } %>
                                <div class="page-header">
                                    <h2>
                                        <%=page_title%>
                                    </h2>
                                </div>

                                <div class="page-container">